@page "/customer"

<PageTitle>Customer Home</PageTitle>

<h1>Welcome to the Customer Portal</h1>

<p>Welcome to our customer portal. Here you can find all the information and services you need.</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Shop</h5>
                    <p class="card-text">Browse our products and make purchases.</p>
                    <a href="customer/shop" class="btn btn-primary">Go to Shop</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">FAQ</h5>
                    <p class="card-text">Find answers to frequently asked questions.</p>
                    <a href="customer/faq" class="btn btn-primary">Go to FAQ</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text">Get in touch with our support team.</p>
                    <a href="customer/contact" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">Learn more about our company and values.</p>
                    <a href="customer/about" class="btn btn-primary">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>