@using BlazorApp1.Components.UI
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenuCustomer />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Footer />