@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/customer">Home</a>
        <a class="navbar-brand" href="/intranet">Intranet portal</a>
    </div>
</div>
