@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<p>Please choose an option:</p>

<a class="btn btn-primary" href="/customer">Customer</a>
<a class="btn btn-secondary" href="/intranet">Intranet</a>