@using BlazorApp1.Components.Intranet.Pages
@using BlazorApp1.Components.Customer.Pages

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="GetLayout(routeData.PageType)!" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    private Type? GetLayout(Type pageType)
    {
        if (pageType == typeof(BlazorApp1.Components.Intranet.Pages.Addresses) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Categories) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Customers) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.InvoiceItems) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Invoices) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Intranet) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Products) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Reviews) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Suppliers) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Support) ||
        pageType == typeof(BlazorApp1.Components.Intranet.Pages.Tags))
        {
            return typeof(BlazorApp1.Components.Intranet.Layout.IntranetLayout);
        }
        else if (pageType == typeof(BlazorApp1.Components.Customer.Pages.About) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.Contact) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.FAQ) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.Portal) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.CustomerReviews) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.CustomerCategories) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.CustomerSuppliers) ||
        pageType == typeof(BlazorApp1.Components.Customer.Pages.Shop))
        {
            return typeof(BlazorApp1.Components.Customer.Layout.CustomerLayout);
        }
        else
        {
            return null;
        }
    }
}